os: linux
arch: arm64-graviton2
git:
  depth: false
language: java
jdk: openjdk11
install: true
script: mvn -P owasp,sonar install -Dmaven.javadoc.skip=true -B -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.organization=$SONAR_ORGANIZATION -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.token=$SONAR_TOKEN
